/* адаптивная верстка сайта */

@media(max-width: 1150px) {
    .smoothie_item {
        padding-left: 20px;
        padding-right: 20px;
    }
    .smoothie_img {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 915px) {
    .header_item {
        padding-left: 20px;
        padding-right: 20px;
    }
    .smoothie_items {
        flex-direction: column;
    }
    .smoothie_item {
        height: auto;
    }
    .smoothie_item div h2 {
        text-align: center;
    }
    .smoothie_img {
        align-self: center;
    }
}

@media (max-width: 722px) {
    .header_items {
        flex-direction: column;
        align-items: center;
    }
    .header_items img {
        order: -1;
    }
}

@media {}