.container {
    max-width: 1140px;
    margin: 0 auto;
    /* background-color: rgba(0, 255, 255, 0.383); */
}

header {
    /* display: none; */
}

.header_items {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    /* background-color: cadetblue; */
    margin: 0 auto;
}

.header_items a {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #433840;
    text-decoration: none;
}

.header_item {
    width: 197px;
    display: flex;
    justify-content: space-between;
    /* background-color: cyan; */
    align-items: center;
}

.header_items img {
    width: 224px;
}


/* about */

.about {
    /* display: none; */
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    max-width: 1820px;
    position: relative;
}

.about::before {
    content: '';
    background-image: url(../img/top.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -1px;
    height: 130px;
    width: 100%;
}

.about::after {
    content: '';
    background: url(../img/bottom.svg) no-repeat center center;
    /* background-image: ;
    background-repeat: ;
    background-position: ; */
    position: absolute;
    bottom: 0;
    height: 110px;
    width: 100%;
}

.about_items {
    padding-top: 150px;
    padding-bottom: 135px;
}

.about_items h2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
}

.about_items p {
    font-family: Waiting for the Sunrise;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
}


/* smoothie */

.smoothie {
    /* display: none; */
}

.smoothie_items {
    display: flex;
}

.smoothie_item div h2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #433840;
    margin-bottom: 20px;
}

.smoothie_item div p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */
    color: #9A9A9A;
}

.smoothie_img {
    width: 380px;
    margin-top: 71px;
    margin-left: 47px;
    margin-right: 40px;
}

.smoothie_item {
    display: flex;
    flex-direction: column;
    height: 520px;
    /* background-color: aquamarine; */
    justify-content: space-between;
}


/* team */

.team {
    display: none;
}

.team_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team_item {
    width: calc(50% - 14px - 165px);
    display: flex;
}

.team_item:nth-child(1),
.team_item:nth-child(4) {
    background: #C9E3F4;
    border-radius: 5px;
}

.team_item:nth-child(2),
.team_item:nth-child(3) {
    background: #DFEEB6;
    border-radius: 5px;
}

.team_item:nth-child(2) {
    margin-left: 28px;
}

.team_item:nth-child(1),
.team_item:nth-child(2) {
    margin-bottom: 28px;
    margin-left: 165px;
}

.team_item:nth-child(1) .team_img,
.team_item:nth-child(2) .team_img {
    margin-left: -165px;
}


/* 3 and 4 blocks */

.team_item:nth-child(3),
.team_item:nth-child(4) {
    flex-direction: row-reverse;
    margin-right: 165px;
}

.team_item:nth-child(3) .team_img,
.team_item:nth-child(4) .team_img {
    margin-right: -165px;
}

.team_img {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 330px;
}

.team_data {
    margin-top: 84px;
}


/* стили к тексту */

.team_data h3 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #FFFFFF;
}

.team_data span {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    color: #433840;
}

.team_data p {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    color: #433840;
}